:root {
    --primary-green: #2ebd77;
    --secondary-green: #68e4c4;
    --dark-color: #000000;
    --light-color: #ffffff;
    --background-color: #e6fff0;
}


html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

header {
    background: linear-gradient(45deg, var(--primary-green), var(--secondary-green));
    color: var(--light-color);
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}


a {
    color: var(--primary-green);
    text-decoration: none;
}

a:hover {
    color: var(--secondary-green);
    text-decoration: underline;
}


footer {
    background-color: var(--primary-green);
    color: var(--light-color);
    text-align: center;
    padding: 20px;
    width: 100%;
    border-top: 1px solid #ddd;
    position: relative;
    bottom: 0;
    margin-top: auto;
}


main {
    flex: 1;
}

button {
    background-color: var(--primary-green);
    color: var(--light-color);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: var(--secondary-green);
}


input, textarea {
    border: 1px solid var(--primary-green);
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 10px;
}


.btn-login, .btn-register {
    background: linear-gradient(45deg, var(--primary-green), var(--secondary-green));
    color: black;
    border: 2px solid black;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    display: inline-block;
    margin-right: 10px;
}

.btn-login:hover, .btn-register:hover {
    background: linear-gradient(45deg, var(--secondary-green), var(--primary-green));
    text-decoration: underline;
    border-color: var(--secondary-green);
}

.btn-login:disabled, .btn-register:disabled {
    background: var(--primary-green);
    color: var(--light-color);
    cursor: not-allowed;
    opacity: 0.5;
    border: 2px solid var(--primary-green);
}

* {
    box-sizing: border-box;
}

input:focus, textarea:focus, .btn-login:focus, .btn-register:focus {
    outline: none;
    border-color: var(--secondary-green);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.gradient-custom {
    background-color: var(--background-color);
    flex: 1;
}