{% extends 'Index.html' %}
{% load static %}


{% block content %}

<div class="container">
    <img src="{{ cachorro.imagem.thumb.url }}" alt="{{ cachorro.nome }}">

    <div class="p-5 mb-4 bg-body-tertiary rounded-3">
        <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold">{{ cachorro.nome }}</h1>
            <p class="col-md-8 fs-4">{{ cachorro.descricao }}</p>
            <p class="col-md-8 fs-4"><strong>Raça: </strong> {{ cachorro.raca }}</p>
            <p class="col-md-8 fs-4"><strong>Porte: </strong> {{ cachorro.porte }}</p>
            <button class="btn btn-primary btn-lg" type="button">Quero adotar!</button>
        </div>
    </div>
</div>

{% endblock %}