{% extends 'Index.html' %}
{% load static %}

{% block content %}

<div class="container">

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

    {% for cachorro in cachorros %}
       <div class="card" style="width: 18rem;">
          <img src="{{ cachorro.imagem.thumb.url }}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{cachorro.nome}}</h5>
            <p class="card-text">
                {{cachorro.descricao}}. Porte: {{cachorro.porte}}
            </p>
            <a href="/cachorro-detalhe/{{cachorro.id}}" class="btn btn-primary">Saiba mais</a>
          </div>
        </div>
    {% endfor %}

      </div>

</div>

{% endblock %}