{% extends 'Index.html' %}
{% load static %}

{% block content %}

<div class="container">
    <img src="{{ gato.imagem.thumb.url }}" alt="{{ gato.nome }}">

    <div class="p-5 mb-4 bg-body-tertiary rounded-3">
        <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold">{{ gato.nome }}</h1>
            <p class="col-md-8 fs-4">{{ gato.descricao }}</p>
            <p class="col-md-8 fs-4"><strong>Raça: </strong> {{ gato.raca }}</p>
            <a class="btn btn-primary btn-lg" href="{% url 'querogato' gato.id %}">Quero adotar!</a>        </div>
    </div>
</div>

{% endblock %}
