{% load static %}
{% load bootstrap5 %}

<header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">

    <a class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none" href="/" >
            <img src="../../media/logopatinhas.jpg" height="80" width="115"/> </a>

      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
    <li>
        <a href="/" class="nav-link px-2 {% if request.path == '/' %}link-secondary{% else %}link-dark{% endif %}">
            Home
        </a>
    </li>
    <li>
        <a href="{% url 'cachorros' %}" class="nav-link px-2 {% if request.path == '/cachorros/' %}link-secondary{% else %}link-dark{% endif %}">
            Cachorros
        </a>
    </li>
    <li>
        <a href="{% url 'gatos' %}" class="nav-link px-2 {% if request.path == '/gatos/' %}link-secondary{% else %}link-dark{% endif %}">
            Gatos
        </a>
    </li>
    <li>
        <a href="#" class="nav-link px-2 {% if request.path == '/clinica/' %}link-secondary{% else %}link-dark{% endif %}">
            Clínica
        </a>
    </li>
</ul>


  <div class="col-md-3 text-end me-3">
    {% if request.path != '/login/' %}
    <a href="{% url 'login' %}" class="btn-login">Login</a>
    {% else %}
    <button class="btn-login" disabled>Login</button>
    {% endif %}
    {% if request.path != '/cadastro' %}
    <a href="{% url 'cadastrar_usuario' %}" class="btn-register">Registrar</a>
    {% else %}
    <button class="btn-register" disabled>Registrar</button>
    {% endif %}
  </div>



</header>