<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ONG de Cachorros e Gatos</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <header>
        <div class="header-content">
            <img class="logo" src="{% static 'logo.png' %}" alt="Logo">
            <div>
                <h1 class="text-content">ONG de Cachorros e Gatos SJPA</h1>
                <nav>
                    <ul>
                        <li><a href="#about">Sobre Nós</a></li>
                        <li><a href="#donate">Faça Sua Doação</a></li>
                        <li><a href="#contact">Contatos</a></li>
                    </ul>
                </nav>
            </div>
            <div>
                <a href="/admin">
                    <button class="login-btn">Entrar</button>
                </a>
            </div>
        </div>
    </header>

    <section id="about">
        <h2>Sobre Nós</h2>
        <div class="about-content">
            <div class="about-item">
                <img src="{% static 'nossa_missao.jpg' %}" alt="Cachorro">
                <div class="about-text">
                    <h3>Nossa Missão</h3>
                    <p>A ONG de Cachorros e Gatos é uma organização sem fins lucrativos dedicada ao resgate, cuidado e adoção de animais abandonados. Nosso objetivo é proporcionar uma vida digna e amorosa para todos os animais que cruzam nosso caminho.</p>
                </div>
            </div>
            <!-- Mais conteúdo sobre a ONG -->
        </div>
    </section>

    <footer>
        <p>&copy; 2024 ONG de Cachorros e Gatos SJPA. Todos os direitos reservados.</p>
    </footer>

</body>
</html>